header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem; // padding-x
  padding-block: 1rem; // padding-y

  .main-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.125rem;
    color: #333;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
