<section class="content">
  <h2>Event Listener</h2>
  <p>
    As an example, we're using the "keyup" event to know which key is being
    pressed by the user. Common events are used for forms and other interactions
    (change, click, formdata, drag, drop, etc).
  </p>

  <!--* Event to get key pressing event -->
  <fieldset>
    <legend for="keyListener">Key Press Event Listener</legend>
    <input
      type="text"
      id="keyListener"
      name="keyListener"
      placeholder="Type here..."
      (keyup)="keyUpHandler($event)"
    />
    <div class="info">{{ keyInfo() || "(Press a key)" }}</div>
  </fieldset>
</section>
